<div class="card mat-card" id="first-card">
    <div class="redes">
        
            <button type="button" class="btn btn-light">Login</button>
        
    </div>
    <div id="profile-background"><img id="info-back-img"
        src="https://png.pngtree.com/background/20210709/original/pngtree-business-technology-digital-high-tech-world-background-picture-image_957454.jpg">
    </div>
    <div id="info" style="padding: 16px">
      <div id="info-img">
        <img id="info-user-img" class="profile-image"
          src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
        
      </div>
      <div id="info-data">
        <div>
          <h1 id="info-name">PEDE</h1>
          <div><span id="info-position">informático</span> en <span id="info-company">CONICET</span></div>
          <div id="info-contact">
            <span id="info-ubication">Buenos Aires (Argentina) </span>
            <span><a href="#">Información de contacto</a></span>
          </div>
        </div>
        
      </div>
      <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir Sección</button>
        <button type="button" class="btn btn-light">Más</button>
      </div>
    </div>
  </div>