<div id="skill">
  <!---------------------------------Modal------------------------------>
  <div
    class="modal fade"
    id="skillForm"
    tabindex="-1"
    aria-labelledby="skillFormLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="skillFormLabel">
            Skills
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="id" formControlName="id" />

            <div class="row mb-3 greens-border-focus">
              <label for="skill" class="col-sm-2 col-form-label"
                >Skill</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="skillName"
                  formControlName="skillName"
                  class="form-control"
                  required
                />
              </div>
            </div>

            <div class="row mb-3 greens-border-focus">
              <label for="porcentaje" class="col-sm-2 col-form-label">Porcentaje</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  name="percent"
                  formControlName="percent"
                  class="form-control"
                  required
                />
              </div>
            </div>

            <div class="row mb-3 greens-border-focus">
              <label for="img" class="col-sm-2 col-form-label">Imagen</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  name="img"
                  formControlName="img"
                  class="form-control"
                  required
                />
              </div>
            </div> 
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button [disabled]="skillForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>           
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!--------------------------------Modalend----------------------------->

  <div class="container my-3">
    <div class="row border section-border">
      <div class="section-title">
        <h3 class="mx-5 my-4 section-title border-bottom">Hard & Soft Skills</h3>
        <button class="btn btn-plus mx-5" data-bs-toggle="modal" data-bs-target="#skillForm" (click)="nuevaSkill()" *ngIf="isUserLogged"><i class="fa fa-plus"></i></button>
      </div>
      <div
        *ngFor="let skill of skills_list; let i = index"
        class="text-center col-sm-6 col-md-4 col-lg-4 section-item"
      >
        <circle-progress
          [percent]="skill.percent"
          [radius]="50"
          imageSrc="assets/img/{{skill.img}}"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [startFromZero]="true"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#4882c2'"
          [outerStrokeGradientStopColor]="'#53a9ff'"
          [innerStrokeColor]="'#e7e8ea'"
          [animation]="true"
          [animationDuration]="800"
        ></circle-progress>
        <div class="btn-editar">
          <button class="btn" data-bs-toggle="modal" data-bs-target="#skillForm" (click)="editarSkill(i)" *ngIf="isUserLogged"><i class="fa fa-pen"></i></button>
          <button class="btn" (click)="borrarSkill(i)" *ngIf="isUserLogged"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
